.features{
    background-color: $light;
    width: 100%;

    .features-content{
        // outline: 2px solid yellow;
        max-width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media (max-width: 960px){
            grid-template-columns: 1fr;
        }
    }
}